In [10]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

ames = pd.read_csv('https://raw.githubusercontent.com/hjhuney/Data/master/AmesHousing/train.csv')
ames.head(5)

## Drop Outliers

z = ames['GrLivArea']+ames['BsmtUnfSF']<4000
print("Number of records removed:",len(ames) - sum(z))
data = ames[z]

## Drop Nonnumeric

data = data.select_dtypes(include=['int64','float64'])

## Clean NaN's

data["MasVnrArea"].fillna(0,inplace=True)
data["GarageYrBlt"].fillna(0,inplace=True)
m = np.mean(data["LotFrontage"])
data["LotFrontage"].fillna(m,inplace=True)

Number of records removed: 24

In [11]:
Train_size = 1000
train = data.sample(n=Train_size, replace=False)
test = data.drop(train.index)

X_train = train.drop(columns=["Id","MSSubClass","SalePrice"])
Y_train = train["SalePrice"]

X_test = test.drop(columns=["Id","MSSubClass","SalePrice"])
Y_test = test["SalePrice"]
X_train.head(5)

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
742,65.0,8450,7,5,2000,2001,108.0,0,0,1349,...,539,120,55,0,0,0,0,0,12,2007
1197,65.0,8850,7,6,1916,1950,0.0,0,0,815,...,225,0,0,330,0,0,0,0,7,2006
1038,21.0,1533,4,6,1970,2008,0.0,0,0,546,...,0,0,0,0,0,0,0,0,5,2009
127,55.0,4388,5,7,1930,1950,0.0,116,0,556,...,0,0,0,0,0,0,0,0,6,2007
456,34.0,4571,5,5,1916,1950,0.0,0,0,624,...,513,0,0,96,0,0,0,0,5,2008

## Exercise:

Find the best single varaible to drop from the full linear linear fit. That is, do one step of backwards subset selection. This should be against all of the data.

## Exercise:

Keeping in mind that the training/test split was arbitrary, what do you expecct the best method for prediction on the whole Ames data set to be? Justify your answer.

## Exercise:

The `ols.fit_regularized(L1_wt=1,alpha=alp)` function alloes us to use eleastic net regression allow us to mix the ridge and lasso methods.

Split the data into a training set of 1000 training points and 436 test points using

`train=data.sample(n=Test_Size,replace=False, random_state=200)`

where the `random state` seed has been set to 200. The code below should do this automatically. What is the best pair $(\alpha,\lambda)$ to fit with when measured against the test data?

In [12]:
Train_size = 1000
train = data.sample(n=Train_size, replace=False,random_state=200)
test = data.drop(train.index)

X_train = train.drop(columns=["Id","MSSubClass","SalePrice"])
Y_train = train["SalePrice"]

X_test = test.drop(columns=["Id","MSSubClass","SalePrice"])
Y_test = test["SalePrice"]

X_train.head(5)

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
788,50.000000,6000,4,7,1954,2000,0.0,0,0,901,...,281,0,0,0,0,0,0,0,8,2008
1402,64.000000,6762,7,5,2006,2006,0.0,0,0,1286,...,662,168,55,0,0,0,0,0,7,2006
1429,69.341256,12546,6,7,1981,1981,310.0,678,0,762,...,467,0,0,99,0,0,0,0,4,2007
547,54.000000,7244,5,7,1970,1970,0.0,619,0,149,...,624,104,0,0,0,0,0,0,4,2007
999,64.000000,6762,7,5,2006,2006,24.0,686,0,501,...,632,105,61,0,0,0,0,0,2,2010